<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex flex-col min-h-screen">
  <% if flash[:notice] %>
  		<div>
  			<p class="notice"><%= notice %></p>
  		</div>
  	<% end %>
  	<% if flash[:alert] %>
  		<div>
  			<p class="alert"><%= alert %></p>
  		</div>
  	<% end %>

    <div class="flex flex-row bg-amber-400 align-center justify-between p-3">
        <%= link_to "The Club", posts_path, class: "text-xl text-orange-900 font-bold p-2"%>
        <div class="flex flex-row gap-4">
         <% if user_signed_in? %>
          <%= link_to "New Post", new_post_path, class: "text-xl text-orange-900 p-2 font-bold bg-sky-500"%>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "text-xl p-2 text-orange-900 font-bold bg-white"%>
         <% else %>
          <%= link_to "Login", new_user_session_path, class: "text-xl text-orange-900 p-2 font-bold bg-sky-500"%>
          <%= link_to "Sign Up", new_user_registration_path, class: "text-xl p-2 text-orange-900 font-bold bg-white"%>
         <% end %>
        </div>
    </div>
      
    <main class="flex p-4 justify-around flex-1 bg-indigo-600">
      <%= yield %>
    </main>
  </body>
</html>
